.App {
  font-family: sans-serif;
  text-align: center;
}

.table-head tr th {
  background-color: #f6f6f6;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.table-body tr td {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
